*{
margin:0;
padding:0;
box-sizing:border-box;
}
body > *{
	width:90%;
	margin: 0 auto;
}
nav{
	font-size:14px;
}
.p-navbar{
	position:relative;
	padding:10px 0px;
	height:50px;
}
.right-p-navbar{
	position:absolute;
	right:20px;
}
.right-p-navbar > li{
	display:inline-block;
	padding:0px 10px;
}
.right-p-navbar > li >img{
	transform:translatey(4px);
}
.s-navbar{
	position:relative;
	padding:10px 0px;
	transform:translatey(-40px);
}
.s-navbar > *{
	display:inline-block;
}
.s-input{
	border: 2px solid #ffda00;
	border-radius:30px;
	overflow:hidden;
	position:absolute;
	left:30%;
	top:70%;
	transform:scale(1.2);
}
.s-navbar span:nth-child(1){
	padding:8px;
}
.s-navbar span:nth-child(3){
	padding:8px 10px;
	background-color:#ffda00;
}
.s-navbar input{
	border:none;
	outline:none;
	margin:4px;
	width:300px;
}
.s-navbar ul{
	position:absolute;
	left:70%;
	top:70%;
	list-style:none;
	font-size:16px;
}
.s-navbar ul li{
	display:inline-block;
	padding:0px 10px;
}
header{
    height:75vh;
	position:relative;
	overflow:hidden;
}
header .heading{
	position:absolute;
	right:0;
	left:0;
	top:0;
	background:#ffda00;
}
header ul .heading-list{
	float:left;
	list-style:none;
	padding:8.5%;
	padding-top:1%;
	padding-bottom:1%;
	font-size:18px;
	  font-family: OpenSans, Arial, Helvetica, sans-serif;
}
header ul .heading-list:nth-last-of-type(4){
	background:black;
	color:white;
	padding:7.35%;
	padding-top:1%;
	padding-bottom:1%;
}
header .side-bar ul{
	position:absolute;
	top:10%;
	padding-left:2%;
	padding-right:3%;
	padding-bottom:.7%;
	z-index:2;
	background:rgba(241, 239, 239, 0.897);
	height:100%;
}
header .side-bar ul li{
	list-style:none;
	font-size:15px;
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	margin:4%;
	color:lightslategrey;
}
header .side-bar ul li:hover{
	color:black;
	}
.proslider img{
	min-width:100%;
	width:100%;
	height:100%;
}
.proslider .wrapper{
	max-width:100%;
	width:100%;
	position:absolute;
	top:10%;
}
.proslider .slider{
	background:#fff;
	position:relative;
	overflow:hidden;
	height:67.2vh;
}
.slide-switch{
	display:none;
}
.slide-label{
	position:absolute;
	bottom:1rem;
	display:block;
	z-index:5;
	height:1.5rem;
	width:1.5rem;
	text-indent:1rem;
	overflow:hidden;
    background:black;
	border:2px solid lightslategrey;
	border-radius:50%;
	cursor:pointer;
	transition:all 0.25s;
	top:70%;
}
.slider-arrow{
	position:absolute;
	font:size:25px;
	color:rgb(72, 81, 90);
	background:black;
	padding:2px 5px 2px 5px;
	border-radius:50%;
	left:68%;
	border:3px solid lightslategrey;
	top:68%;
	z-index:5;
}
.end-arrow{
	position:absolute;
	left:92.5%;
}
.slide-label:nth-last-of-type(6){
	right:25%;
	z-index:5;
}
.slide-label:nth-last-of-type(5){
	right:22%;
	z-index:5;
}	
.slide-label:nth-last-of-type(4){
	right:19%;
	z-index:5;
}
.slide-label:nth-last-of-type(3){
	right:16%;
	z-index:5;
}
.slide-label:nth-last-of-type(2){
	right:13%;
	z-index:5;
}
.slide-label:nth-last-of-type(1){
	right:10%;
	z-index:5;
}
.slide-content{
	width:100%;
	background:#fff;
	float:left;
	margin-right:-100%;
	height:100%;
}
.slide-switch:checked + .slide-label{
	background:black;
}
.slide-switch:not(:checked) + .slide-label +.slide-content{
	opacity:0;
	transition:opacity 0.35s;
	pointer-events: none;
}
.slide-switch:checked + .slide-label +.slide-content{
	animation:slide 1s;
}
@keyframes slide{
	0%{transform:translatex(100%);}
	}
	100%{
	transform:translatex(0%);}
}
.collection > h1{
	margin: 20px 0px;
}
.collection > h1 > i{
	margin:0px 6px 0px 0px;
}
#aside-img{
	display:inline-block;
	height:190px;
	width:190px;
	overflow:hidden;
	margin:0px 2px;
	position:relative;
}
.collection > #aside-img > img{
	position:absolute;
	max-height:100%;
}
.collection > div.collect-img{
	display:inline-block;
	height:190px;
	height:190px;
	border:1px solid rgba(0, 0, 0, 0.103);
	overflow:hidden;
	margin:0px 2px;
	position:relative;
	text-align:center;
}
.collection > div.collect-img img{
	max-height:160px;
}
.collection > div.collect-img .hidden-num{
   width:100%;
	background-color:#f30240;
	font-size:18px;
	padding:6px 0px;
	color:white;
	font-weight:bolder;
	transform:translatey(10px);
	transition:transform .5s;
}
.collection > div.collect-img:hover .hidden-num{
	transform:translatey(-32px)
}
.s-deals > h1{
	margin:20px 0px;
}
.s-deals > h1 > i{
	margin:0px 6px 0px 0px;
}
.s-deal > .s-outer-section{
	height:340px;
	width:100%;
}
.s-deals > .s-outer-section > .s-inner-section{
	height:340px;
	width:202px;
	display:inline-block;
	margin:0px -2px;
	vertical-align:top;
}
.s-deals > .s-outer-section > .s-pricing{
	position:relative;
}
.s-deals > .s-outer-section > .s-pricing > .s-inner-img{
	height:auto;
	width:100%;
	text-align:center;
}
.s-deals > .s-outer-section > .s-pricing > .s-inner-img > .s-badge{
	position:absolute;
	top:10px;
	width:40px;
	height:40px;
	background-color:#ff0000;
	color:white;
	border-radius:50%;
	padding:10px;
	right:10px;
	box-sizing:content-box;
}
.s-deals > .s-outer-section > .s-pricing > p:nth-of-type(1){
	margin:2px 4px;
	font-size:16px;
	font-weight:lighter;
	text-align:center;
}
.s-deals > .s-outer-section > .s-pricing > p:nth-of-type(2){
	color:rgba(0, 0, 0, 0.459);
	margin:10px;
	font-size:15px;
}
.s-deals > .s-outer-section > .s-pricing > p:nth-of-type(3){
	margin:10px;
	font-size:20px;
	color:#ff0000;
}
.s-deals > .s-outer-section > .s-pricing > .s-inner-img img{
	max-width:100%;
}
.s-pricing{
	padding:10px;
	border:1px solid rgba(0, 0, 0, 0.144);
}
.s-pricing:hover{
	box-shadow:-1px 10px 15px -3px rgba(0, 0, 0, 0.67);
}
.n-products > h1{
	margin:20px 0px;
}
.n-products >h1 > i{
	margin:0px 6px opx opx;
}
.n-products > .n-product-outer{
width:100%;
height:300px;
}
.n-products > .n-product-outer > .n-product-left{
	width:36%;
	height:100%;
	display:inline-block;
	position:relative;
	transform:scale(1.03);
}
.n-products > .n-product-outer > .n-product-right{
width:63%;
height:100%;
display:inline-block;
vertical-align:top;
transform:scale(1.03) translatex(20px);
}
.n-products > .n-product-outer > .n-product-left > img{
	position:absolute;
	height:100%;
	width:100%;
}
.n-products > .n-product-outer > .n-product-left > div{
position:absolute;
width:100%;
padding:10px;
bottom:0;
color:white;
background:rgba(0, 0, 0, 0.479);
z-index:1;
}
.n-products >  .n-product-outer > .n-product-right > .n-inner{
display:inline-block;
width:24%;
vertical-align:top;
border:1px solid rgba(0, 0, 0, 0.322);
height:100%;
text-align:center;
margin-right:-4px;
padding:10px;
}
.n-products > .n-product-outer > .n-product-right > .n-inner > section >img{
	width:100%;
}
.n-products > .n-product-outer > .n-product-right > .n-inner > section{
	position:relative;
}
.n-products > .n-product-outer > .n-product-right > .n-inner > section > .sn-badge{
	position:absolute;
	width:40px;
	height:40px;
	background-color:#ff0000;
	color:white;
	border-radius:50%;
	padding:10px;
	top:0;
	right:0;
	box-sizing:content-box;
}
.n-products > .n-product-outer > .n-product-right > .n-inner  >p:nth-of-type(1){
    color: rgba(0, 0, 0, 0.459);
    margin: 10px;
    font-size: 15px;
}
.n-products > .n-product-outer > .n-product-right > .n-inner  >p:nth-of-type(2){
	margin: 10px;
	font-size:20px;
	color:#ff0000;
}
.n-products > .n-product-outer > .n-product-right > .n-inner:hover{
	box-shadow:-1px 10px 15px -3px rgba(0,0,0,0.67);
}
.t-brands > h1{
	margin:20px 0px;
}
.t-brands > h1 > i{
	margin:0px 6px 0px 0px;
}
.t-brands > .t-brands-outer{
	width:100%;
	height:300px;
}
.t-brands > .t-brands-outer > .t-brands-left{
	width:36%;
	height:100%;
	display:inline-block;
	position:relative;
}
.t-brands > .t-brands-outer > .t-brands-left > img{
	width:100%;
}
.t-brands > .t-brands-outer > .t-brands-right{
width:63%;
height:100%;
display:inline-block;
vertical-align:top;
transform:scale(1.03) translatex(20px);
}
.t-brands > .t-brands-outer > .t-brands-right > img{
	text-align:center;
	height:45%;
	width:30%;
	border:1px solid rgba(0, 0, 0, 0.164);
	margin:4px 10px;
	padding:1%;
	border-radius:10px;
}
.top-c > h1{
    margin-top: 100px;
	margin-bottom:20px;
}

.top-c > h1 > i{
    margin: 0px 6px 0px 0px;
}

.top-c > .top-c-outer{
	width:100%;
	height:300px;
}
.top-c > .top-c-outer > .top-c-left{
	width:16%;
	height:100%;
	display:inline-block;
	position:relative;
}
.top-c > .top-c-outer > .top-c-right{
	width:83%;
	height:100%;
	display:inline-block;
	vertical-align:top;
	border:1px solid rgba(0, 0, 0, 0.199);
}
.top-c > .top-c-outer > .top-c-left > img{
	height:100%;
	width:100%;
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb{	
    height:45%;
	width:19%;
	display:inline-block;
	padding:10px;
	margin:8px 3px;
	background:#e7e7e7;
	vertical-align:top;
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(1){
	background:url(./img/hot-c-2.jpg)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(2){
	background:url(./img/hot-c-3.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(3){
	background:url(./img/hot-c-4.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(4){
	background:url(./img/hot-c-5.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(5){
	background:url(./img/hot-c-6.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(6){
	background:url(./img/hot-c-7.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(7){
	background:url(./img/hot-c-8.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(8){
	background:url(./img/hot-c-9.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(9){
	background:url(./img/hot-c-10.png)
}
.top-c > .top-c-outer > .top-c-right > .top-c-sb:nth-child(10){
	background:url(./img/hot-c-11.png)
}
.r-sec-r > h1{
	margin:40px 0px;
}
.r-sec-r > h1 >i{
	margin:0px 10px 0px 0px;
}
.rs-inner-section{
	height:auto;
	width:19%;
	display:inline-block;
	margin:10px 2px;
	vertical-align:top;
	position:relative;
	padding:10px;
	transition:box-shadow 1s;
}
.rs-inner-section > .rs-inner-img{
	height:auto;
	width:100%;
	text-align:center;
}
.rs-inner-section > .rs-inner-img img{
	max-width:100%;
}
.rs-inner-section > .rs-inner-img .rs-badge{
	position:absolute;
	top:10px;
	width:40px;
	height:40px;
	background-color:#ff0000;
	color:white;
	border-radius:50%;
	padding:8px;
	right:10px;
	box-sizing:content-box;
}
.rs-inner-section > p:nth-of-type(1){
	margin:24px 4px 0px;
	font-size:16px;
	font-weight:lighter;
}
.rs-inner-section > p:nth-of-type(2){	
margin:10px;
font-size:20px;
color:#ff0000;
}
.rs-inner-section > p:nth-of-type(3){
	color:#ff0000;
	background:#ff00002f;
	display:inline-block;
	padding:0px 6px;
}
.rs-inner-section:hover{
	box-shadow:-1px 5px 16px -3px rgba(0,0,0,0.67);
}
.rs-inner-section > p:nth-of-type(1):hover{
	color:rgba(233,198,3);
	cursor:pointer;
}
footer#footer{
    padding: 20px 8%;
    width: 100% !important;
    background-color: #FAFAFA;
}

#footer > .footer-upper {
    height: 140px;
    background-color: #fff;
}

#footer > .footer-upper > .footer-up-sec{
    height: 80%;
    width: 18%;
    display: inline-block;
    margin: 2% .7%;
    vertical-align: top;
    text-align: center;
}

#footer > .footer-upper > .foo-up-i > p:nth-of-type(1) > i{
    font-size: 30px;
}

#footer > .footer-upper > .foo-up-i:hover > p:nth-of-type(1){
    color: #FFDA00;
}
#footer > .footer-upper > .foo-up-i > p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.288);
    font-size: 12px;
    margin-top: 5px;
}
#footer > .footer-md-sec {
	height:80px;
	padding:10px 0px;
	margin-top:40px;
	width:100%;
}
#footer > .footer-md-sec > .foo-md-left{
	width:40%;
	height:100%;
	display:inline-block;
	position:relative;
}
#footer > .footer-md-sec > .foo-md-right{
    width: 59%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#footer > .footer-md-sec > .foo-md-left > label{
	position:absolute;
	top:25%;
}
#footer > .footer-md-sec > .foo-md-left > input{
	height:40px;
	position:absolute;
	width:260px;
	top:12%;
	left:20%;
	outline:none;
	border:1px solid #000;
}
#footer > .footer-md-sec > .foo-md-left > button{
	position:absolute;
	background-color:black;
	border:none;
	color:#fff;
	padding:11px 20px;
	left:77%;
	top:12%;
}
#footer > .footer-md-sec > .foo-md-right {
	text-align:right;
}
#footer > .footer-md-sec > .foo-md-right a{
	background-color:rgba(0, 0, 0, 0.719);
	height:40px;
	width:40px;
	display:inline-block;
	border-radius:50%;
	color:white;
	text-align:center;
	line-height:40px;
	font-size:18px;
	margin:10px 2px;
}
#footer > .footer-md-sec > .foo-md-right a:hover{
	background:rgb(196, 166, 1);
}
#footer > .foo-bottom-up{
	height:300px;
	margin-top:30px;
}
#footer > .foo-bottom-up > .foo-boo-sec{
	width:24%;
	display:inline-block;
	height:100%;
	margin-left:.5%;
	vertical-align:top;
}
#footer > .foo-bottom-up > .foo-boo-sec p{
	margin-top:10px;
	}
#footer > .foo-bottom-up > .foo-boo-sec a{
	display:block;
	color:rgba(0, 0, 0, .363);
    font-size:14px;
	margin:4px 0px;
}
#footer > .foo-bottom-down{
		margin-top:20px;
	text-align:center;
}
#footer > .foo-bottom-down img{
	margin:2px 5px;
	height:30px;
}
.after-footer{
	margin-top:30px;
	width:100% !important;
	background-color:black;
	padding:8px 0px;
	text-align:center;
    color: white;
}

	
	
		
		
		
	
	
	